---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/pitchinvasion/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cGl0Y2hpbnZhc2lvbjpodGhydTJkODk=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1477425999'
      Etag:
      - W/"6aa0e8ac96f7598c92e84856d86e738a"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":4138927,"name":".vim","full_name":"pitchinvasion/.vim","owner":{"login":"pitchinvasion","id":208986,"avatar_url":"https://avatars.githubusercontent.com/u/208986?v=3","gravatar_id":"","url":"https://api.github.com/users/pitchinvasion","html_url":"https://github.com/pitchinvasion","followers_url":"https://api.github.com/users/pitchinvasion/followers","following_url":"https://api.github.com/users/pitchinvasion/following{/other_user}","gists_url":"https://api.github.com/users/pitchinvasion/gists{/gist_id}","starred_url":"https://api.github.com/users/pitchinvasion/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pitchinvasion/subscriptions","organizations_url":"https://api.github.com/users/pitchinvasion/orgs","repos_url":"https://api.github.com/users/pitchinvasion/repos","events_url":"https://api.github.com/users/pitchinvasion/events{/privacy}","received_events_url":"https://api.github.com/users/pitchinvasion/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/pitchinvasion/.vim","description":"My
        Vim Dir","fork":true,"url":"https://api.github.com/repos/pitchinvasion/.vim","forks_url":"https://api.github.com/repos/pitchinvasion/.vim/forks","keys_url":"https://api.github.com/repos/pitchinvasion/.vim/keys{/key_id}","collaborators_url":"https://api.github.com/repos/pitchinvasion/.vim/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/pitchinvasion/.vim/teams","hooks_url":"https://api.github.com/repos/pitchinvasion/.vim/hooks","issue_events_url":"https://api.github.com/repos/pitchinvasion/.vim/issues/events{/number}","events_url":"https://api.github.com/repos/pitchinvasion/.vim/events","assignees_url":"https://api.github.com/repos/pitchinvasion/.vim/assignees{/user}","branches_url":"https://api.github.com/repos/pitchinvasion/.vim/branches{/branch}","tags_url":"https://api.github.com/repos/pitchinvasion/.vim/tags","blobs_url":"https://api.github.com/repos/pitchinvasion/.vim/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/pitchinvasion/.vim/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/pitchinvasion/.vim/git/refs{/sha}","trees_url":"https://api.github.com/repos/pitchinvasion/.vim/git/trees{/sha}","statuses_url":"https://api.github.com/repos/pitchinvasion/.vim/statuses/{sha}","languages_url":"https://api.github.com/repos/pitchinvasion/.vim/languages","stargazers_url":"https://api.github.com/repos/pitchinvasion/.vim/stargazers","contributors_url":"https://api.github.com/repos/pitchinvasion/.vim/contributors","subscribers_url":"https://api.github.com/repos/pitchinvasion/.vim/subscribers","subscription_url":"https://api.github.com/repos/pitchinvasion/.vim/subscription","commits_url":"https://api.github.com/repos/pitchinvasion/.vim/commits{/sha}","git_commits_url":"https://api.github.com/repos/pitchinvasion/.vim/git/commits{/sha}","comments_url":"https://api.github.com/repos/pitchinvasion/.vim/comments{/number}","issue_comment_url":"https://api.github.com/repos/pitchinvasion/.vim/issues/comments{/number}","contents_url":"https://api.github.com/repos/pitchinvasion/.vim/contents/{+path}","compare_url":"https://api.github.com/repos/pitchinvasion/.vim/compare/{base}...{head}","merges_url":"https://api.github.com/repos/pitchinvasion/.vim/merges","archive_url":"https://api.github.com/repos/pitchinvasion/.vim/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/pitchinvasion/.vim/downloads","issues_url":"https://api.github.com/repos/pitchinvasion/.vim/issues{/number}","pulls_url":"https://api.github.com/repos/pitchinvasion/.vim/pulls{/number}","milestones_url":"https://api.github.com/repos/pitchinvasion/.vim/milestones{/number}","notifications_url":"https://api.github.com/repos/pitchinvasion/.vim/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/pitchinvasion/.vim/labels{/name}","releases_url":"https://api.github.com/repos/pitchinvasion/.vim/releases{/id}","deployments_url":"https://api.github.com/repos/pitchinvasion/.vim/deployments","created_at":"2012-04-25T16:57:42Z","updated_at":"2013-01-08T22:04:54Z","pushed_at":"2012-02-25T03:54:49Z","git_url":"git://github.com/pitchinvasion/.vim.git","ssh_url":"git@github.com:pitchinvasion/.vim.git","clone_url":"https://github.com/pitchinvasion/.vim.git","svn_url":"https://github.com/pitchinvasion/.vim","homepage":"","size":69,"stargazers_count":1,"watchers_count":1,"language":"VimL","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":45989208,"name":"airport_js","full_name":"pitchinvasion/airport_js","owner":{"login":"pitchinvasion","id":208986,"avatar_url":"https://avatars.githubusercontent.com/u/208986?v=3","gravatar_id":"","url":"https://api.github.com/users/pitchinvasion","html_url":"https://github.com/pitchinvasion","followers_url":"https://api.github.com/users/pitchinvasion/followers","following_url":"https://api.github.com/users/pitchinvasion/following{/other_user}","gists_url":"https://api.github.com/use[...]
